@charset "UTF-8";

/*
Allen Huang
9/11/2022
*/

section {
    background-color: #FFFFF7;
    width: 95%;
    border: 1px solid black;
    margin: 0 auto;
    padding: 11px;
}

section header {
    background-color: rgba(0, 0, 0, .6);
    color: rgb(255, 255, 255);
    height: 200px;
    text-align: center;
    line-height: 200px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2.25em;
}

section header h1 {
    margin: 0;
    padding: 0;
}

section nav {
    height: 50px;
    margin-top: 5px;
    margin-bottom: 5px;
    background-color: rgba(0, 0, 0, .6);
    text-align: center;
    line-height: 50px;
    font-family: 'Calibri';
    font: bold;
    font-size: 1.25em;
}

section nav strong a {
    text-decoration: none;
    color: #FFFFFF;
}

section main aside img {
    width: 250px;
    height: 250px;
    object-fit: contain;
}

footer {
    height: 50px;
    margin-top: 5px; 
    background-color: rgba(0, 0, 0, .6);
    text-align: right; 
    font-family: 'Calibri';
    font: bold;
    font-size: 0.85em;
    color: #FFFFFF;
    padding-right: 15px;
    width: 99%;
    display: table;
}

footer em {
    display:table-cell;
    vertical-align: middle;
}

footer em a {
    color: white;
}

script {
    font-size: xx-large;
    text-align: left;
}
